 -----
 Include a dependency
 -----
 Dmytro Nosan
 -----
 2018-04-17
 -----

  If some dependencies of an application are managed separately (for instance when the app
  is running in a container or with a custom loader), you may want to only list the
  dependencies that should be included.

  There are two ways to include the dependency on being packaged/used at runtime:

    * Include a specific artifact identified by <<<groupId>>> and <<<artifactId>>>
      (optionally with a <<<classifier>>> if needed)

    * Include any artifact belonging to a given <<<groupId>>>

    []

  The following includes <<<com.foo:bar>>> (and only that artifact)

---
<project>
  ...
  <build>
    ...
    <plugins>
      ...
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <configuration>
          <includes>
            <include>
              <groupId>com.foo</groupId>
              <artifactId>bar</artifactId>
            </include>
          </includes>
        </configuration>
        ...
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>
---

  This example includes any artifact belonging to the <<<com.foo>>> and <<<com.bar>>>
  groups:

---
<project>
  ...
  <build>
    ...
    <plugins>
      ...
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <configuration>
          <includeGroupIds>com.foo,com.bar</includeGroupIds>
        </configuration>
        ...
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>
---

